extends layout

block content
	div(class="page")
		div(class="cont")
			img.logo(src="/images/logo.png")
			div(class="text")
				p.
					SmartTaxi  – это новый, современный, быстрый, удобный и, самое главное, простой сервис для поиска и вызова такси на территории Армении посредством мобильных технологий. Качественное, надежное и честное обслуживание клиентов, минимальная обратная связь, и множество других полезных возможностей.					
				p(class="b") SmartTaxi – умные технологии для умных людей.


			div(class="langs")
				a(class="lang act" href="#") ARM
				a(class="lang" href="#") ENG
				a(class="lang last" href="#") RUS
			p(class="coming") Скоро на мобильных устройствах
			div(class="buttons")
				img.google(src="/images/btn_google.png")
				img(src="/images/btn_apple.png")

