doctype html
html
	head
		link(rel="alternate", href="http://www.smarttaxi.am/", hreflang="x-default")
		link(rel="alternate", href="http://www.smarttaxi.am/en/", hreflang="en")
		link(rel="alternate", href="http://www.smarttaxi.am/ru/", hreflang="ru")
	
		meta(name="google-site-verification", content="zCJxNN3wJEPpG120VtMPF-nYmQQp7u4oVczI1gKxZis")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="/js/jquery.plainoverlay.min.js")
		script(src="/js/main.js")
	body
		block content