@font-face {
	font-family: Arian AMU;
	src: url(http://www.smarttaxi.am/fonts/arnamu.ttf);
	src: url(http://www.smarttaxi.am/fonts/arnamu.woff);
	src: url(http://www.smarttaxi.am/fonts/arnamu.otf);
}
/*@font-face {
	font-family: Arian AMU;
	src: url(http://localhost:3000/fonts/arnamu.ttf);
	src: url(http://localhost:3000/fonts/arnamu.woff);
	src: url(http://localhost:3000/fonts/arnamu.otf);
}*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

.am {
	font-family: "Arian AMU" !important;
	font-weight: normal;
}

html,body{
    height:100%;
    min-height:100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding:0;
}
.page {
    height:100%;
    width: 100%;
    min-width: 100%;
    margin:0;
    padding:0;
    background: #251a36 url(../images/2k.jpg) no-repeat top center fixed;
}

.page .cont {
	width: 50%;	
	background: rgba(0,0,0, 0.6);
	margin: 0 auto;
	position: relative;
 	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	border-radius: 15px;
  	padding: 4% 0 2% 0;
}

.page .cont .logo {
	margin: 0 auto 0 auto;
	display: block;
}

.page .blur {
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/	
}

.page .cont .text {
	width: 85%;
	margin: 8% auto 0 auto;
}
.page .cont .text p {
	color: #fff;
	font-size: 22pt;
	font-weight: 300;
	font-family: "Open Sans";
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.page .cont .text p.am {
	font-size: 16pt;
	line-height: 24pt;
}
.page .cont .text p.b {
	margin-top: 3%;
}
.page .cont .text p strong {
	font-family: "Open Sans";
	font-weight: 400;
}
.page .cont .text p span.strong {
	font-family: "Open Sans";
	font-weight: 400;
}

.page .cont .langs {
	/*width: 450px;
	height: 65px;*/
	margin: 5% auto;
	text-align: center;
}
.page .cont .langs .lang {
	display: inline-block;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: #fff;
	text-decoration: none;
	line-height: 65px;
	font-family: "Open Sans";
	color: #333333;
	margin-right: 16px;
	font-size: 14pt;
}
.page .cont .langs .lang.act {
	background: #f7b731;
}
.page .cont .langs .lang.last {
	margin-right: 0px;
}

.page .cont p.coming {
	color: #fff;
	font-size: 24pt;
	font-weight: 300;
	font-family: "Open Sans";
	text-align: center;
	margin: 0px 0 4% 0;
	padding: 0px;
}
.page .cont p.coming.am {
	font-size: 18pt;
}

.page .cont .buttons {
	text-align: center;
}
.page .cont .buttons img.google {
	padding-right: 25px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
	html,body{
	    height:100%;
	    min-height:100%;
	    background-color: #251a36;
	}
	.page {
		padding: 5% 0;
		height:auto;
		min-height:100%;
	    width: 100%;
	    min-width: 100%;
	    background-color: #251a36;
		background-image: url(../images/fhd.jpg);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: top center;
	}
	.page .cont {
		width: 90%;
		padding: 4% 0;
		-webkit-transform: none;
  		-ms-transform:  none;
  		transform:  none;
	}
	.page .cont .logo {
		width: 50%;
	}
	.page .cont .text {
		width: 80%;
	}
	.page .cont .text p {
		font-size: 14pt;
	}
	.page .cont .text p.am {
		font-size: 14pt;
		line-height: 18pt;
	}

	.page .cont .langs {	
		margin: 5% auto;
		width: auto;
	}

	.page .cont .langs .lang {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #fff;
		text-decoration: none;
		line-height: 50px;
		font-family: "Open Sans";
		color: #333333;
		margin-right: 30px;
		font-size: 12pt;
	}

	.page .cont p.coming {
		font-size: 16pt;
	}
	.page .cont p.coming.am {
		font-size: 16pt;
		line-height: 20pt;
	}
	.page .cont .buttons img {
		width: 40%;
	}

}













/* Desktops and laptops ----------- [>= 1280 < 1920] */
@media only screen  and (min-width : 1280px) and (max-width : 1919px) {
/* Styles */
	.page {
	    background: #251a36 url(../images/fhd.jpg) no-repeat top center fixed;
	}
	.page .cont {
		padding: 1% 0 1% 0;
		width: 60%;
	}
	.page .cont .logo {
		width: 30%;
	}
	.page .cont .text {
		margin: 4% auto 0 auto;
	}
	.page .cont .text p {
		font-size: 18pt;
	}
	.page .cont .langs {
		margin: 3% auto;
	}
	.page .cont .langs .lang {		
		width: 55px;
		height: 55px;		
		margin-right: 20px;
		line-height: 55px;
		font-size: 12pt;
	}
}

/* Large screens ----------- Full HD */
@media only screen  and (min-width : 1920px) and (max-width : 1920px) {
/* Styles */
	.page {
	    background: #251a36 url(../images/fhd.jpg) no-repeat top center fixed;
	}
	.page .cont {
		padding: 3% 0 2% 0;
	}
	.page .cont .text {
		margin: 5% auto 0 auto;
	}
	.page .cont .text p {
		font-size: 20pt;
	}
	.page .cont .langs {
		margin: 3% auto;
	}
}

/* Large screens ----------- Greater then Full HD */
@media only screen  and (min-width : 1921px) {
/* Styles */
	.page {
	    background: #251a36 url(../images/2k.jpg) no-repeat top center fixed;
	}
	.page .cont {
		padding: 4% 0 2% 0;
	}
	.page .cont .text {
		margin: 8% auto 0 auto;
	}
	.page .cont .langs {
		margin: 5% auto;
	}
}

/* Large screens ----------- Greater then Full HD */
@media only screen  and (min-height : 1080px) and (min-width : 1700px) {
	.page {
	    background: #251a36 url(../images/2k.jpg) no-repeat top center fixed;
	}
}






/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* iPad 3 (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPad 3 (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 4 (landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 4 (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 5 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 (landscape) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ (landscape) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S4 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 (landscape) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 (portrait) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}



#followingBallsG{
position:relative;
width:256px;
height:20px;
}

.followingBallsG{
background-color:#F7B831;
position:absolute;
top:0;
left:0;
width:20px;
height:20px;
-moz-border-radius:10px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:10px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:10px;
animation-name:bounce_followingBallsG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.13s;
-webkit-animation-delay:0.13s;
-ms-animation-delay:0.13s;
-o-animation-delay:0.13s;
animation-delay:0.13s;
}

#followingBallsG_3{
-moz-animation-delay:0.26s;
-webkit-animation-delay:0.26s;
-ms-animation-delay:0.26s;
-o-animation-delay:0.26s;
animation-delay:0.26s;
}

#followingBallsG_4{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}