@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html,body{
    height:100%;
    min-height:100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding:0;
}
.page {
    height:100%;
    width: 100%;
    min-width: 100%;
    margin:0;
    padding:0;
    background: #251a36 url(../images/2k.jpg) no-repeat top center fixed;
}

.page .cont {
	width: 50%;	
	background: rgba(0,0,0, 0.6);
	margin: 0 auto;
	position: relative;
 	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	border-radius: 15px;
  	padding: 4% 0 2% 0;
}

.page .cont .logo {
	margin: 0 auto 0 auto;
	display: block;
}

.page .blur {
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/	
}

.page .cont .text {
	width: 85%;
	margin: 8% auto 0 auto;
}
.page .cont .text p {
	color: #fff;
	font-size: 22pt;
	font-weight: 300;
	font-family: "Open Sans";
	text-align: justify;
	margin: 0px;
	padding: 0px;
}

.page .cont .langs {
	width: 450px;
	height: 65px;
	margin: 5% auto;
	text-align: center;
}
.page .cont .langs .lang {
	display: inline-block;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: #fff;
	text-decoration: none;
	line-height: 65px;
	font-family: "Open Sans";
	color: #333333;
	margin-right: 16px;
	font-size: 14pt;
}
.page .cont .langs .lang.act {
	background: #f7b731;
}
.page .cont .langs .lang.last {
	margin-right: 0px;
}

.page .cont p.coming {
	color: #fff;
	font-size: 24pt;
	font-weight: 300;
	font-family: "Open Sans";
	text-align: center;
	margin: 0px 0 4% 0;
	padding: 0px;
}

.page .cont .buttons {
	text-align: center;
}
.page .cont .buttons img.google {
	padding-right: 25px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.page {
		padding: 3% 0;
		height:auto;
	    width: 100%;
	    min-width: 100%;
	    background-color: #251a36;
		background-image: url(../images/fhd.jpg);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: top center;
	}
	.page .cont {
		width: 90%;
		padding: 5% 0;
		-webkit-transform: none;
  		-ms-transform:  none;
  		transform:  none;
	}
	.page .cont .logo {
		width: 50%;
	}
	.page .cont .text {
		width: 80%;
	}
	.page .cont .text p {
		font-size: 36pt;
	}

	.page .cont .langs {	
		margin: 6% auto;	
	}

	.page .cont .langs .lang {
		display: inline-block;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: #fff;
		text-decoration: none;
		line-height: 100px;
		font-family: "Open Sans";
		color: #333333;
		margin-right: 30px;
		font-size: 22pt;
	}

	.page .cont p.coming {
		font-size: 38pt;
	}
	.page .cont .buttons img {
		width: 40%;
	}

}








/* Desktops and laptops ----------- [>= 1280 < 1920] */
@media only screen  and (min-width : 1280px) and (max-width : 1919px) {
/* Styles */
	.page {
	    background: #251a36 url(../images/fhd.jpg) no-repeat top center fixed;
	}
	.page .cont {
		padding: 1% 0 1% 0;
	}
	.page .cont .logo {
		width: 30%;
	}
	.page .cont .text {
		margin: 4% auto 0 auto;
	}
	.page .cont .text p {
		font-size: 18pt;
	}
	.page .cont .langs {
		margin: 3% auto;
	}
	.page .cont .langs .lang {		
		width: 55px;
		height: 55px;		
		margin-right: 20px;
		line-height: 55px;
		font-size: 12pt;
	}
}

/* Large screens ----------- Full HD */
@media only screen  and (min-width : 1920px) and (max-width : 1920px) {
/* Styles */
	.page {
	    background: #251a36 url(../images/fhd.jpg) no-repeat top center fixed;
	}
	.page .cont {
		padding: 4% 0 2% 0;
	}
	.page .cont .text {
		margin: 8% auto 0 auto;
	}
	.page .cont .text p {
		font-size: 20pt;
	}
	.page .cont .langs {
		margin: 5% auto;
	}
}

/* Large screens ----------- Greater then Full HD */
@media only screen  and (min-width : 1921px) {
/* Styles */
	.page {
	    background: #251a36 url(../images/2k.jpg) no-repeat top center fixed;
	}
	.page .cont {
		padding: 4% 0 2% 0;
	}
	.page .cont .text {
		margin: 8% auto 0 auto;
	}
	.page .cont .langs {
		margin: 5% auto;
	}
}






/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* iPad 3 (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPad 3 (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 4 (landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 4 (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 5 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 (landscape) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 (portrait) ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ (landscape) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ (portrait) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S4 (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 (landscape) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 (portrait) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}