@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@font-face {
	font-family: "Arian AMU";
	src: url(../fonts/arnamu.ttf);
	src: url(../fonts/arnamu.woff);
	src: url(../fonts/arnamu.otf);
}

.am {
	font-family: "Arian AMU" !important;
	font-weight: normal;
}

html,body{
    height:100%;
    min-height:100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding:0;
    background: #251a36 url(../images/2k.jpg) no-repeat top left;
}

.cont {
	width: 50%;
	background: rgba(0,0,0, 0.6);
	margin: 0 auto 0 auto;
	position: relative;
	top: 5%;
  	border-radius: 15px;
  	padding: 2% 0 1% 0;
}

.cont .logo {
	margin: 0 auto 5% auto;
	display: block;
	max-width:100%;
	max-height:100%;
}

.cont .text {
	width: 90%;
	margin: 0 auto;
}
.cont .text p {
	color: #fff;
	font-size: 22pt;
	font-weight: 300;
	font-family: "Open Sans";
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.cont .text p.am {
	font-size: 20pt;
	line-height: 30pt;
}
.cont .text p.b {
	margin-top: 3%;
}
.cont .text p strong {
	font-family: "Open Sans";
	font-weight: 400;
}
.cont .text p span.strong {
	font-family: "Open Sans";
	font-weight: 400;
}
.cont .langs {
	margin: 4% auto;
	text-align: center;
}
.cont .langs .lang {
	display: inline-block;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: #fff;
	text-decoration: none;
	line-height: 65px;
	font-family: "Open Sans";
	color: #333333;
	margin-right: 16px;
	font-size: 14pt;
}
.cont .langs .lang.act {
	background: #f7b731;
}
.cont .langs .lang.last {
	margin-right: 0px;
}
.cont p.coming {
	color: #fff;
	font-size: 24pt;
	font-weight: 300;
	font-family: "Open Sans";
	text-align: center;
	margin: 0px 0 3% 0;
	padding: 0px;
}
.cont p.coming.am {
	font-size: 24pt;
}

.cont .buttons {
	text-align: center;
}
.cont .buttons img {
	max-width:100%;
	max-height:100%;
}
.cont .buttons img.google {
	padding-right: 25px;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
	html,body{
	    height:100%;
	    min-height:100%;
	    background-color: #251a36;
		background-image: url(../images/fhd.jpg);
		/*background-size: auto 100%;*/
		background-repeat: no-repeat;
		background-position: top center;
	}	
	.cont {
		width: 90%;
		padding: 4% 0;
		margin-bottom: 7%;
		/*-webkit-transform: none;
  		-ms-transform:  none;
  		transform:  none;*/
	}
	.cont .logo {
		width: 50%;
	}
	.cont .text {
		width: 80%;
	}
	.cont .text p {
		font-size: 14pt;
	}
	.cont .text p.am {
		font-size: 14pt;
		line-height: 18pt;
	}

	.cont .langs {	
		margin: 5% auto;
		width: auto;
	}

	.cont .langs .lang {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #fff;
		text-decoration: none;
		line-height: 50px;
		font-family: "Open Sans";
		color: #333333;
		margin-right: 30px;
		font-size: 12pt;
	}

	.cont p.coming {
		font-size: 16pt;
	}
	.cont p.coming.am {
		font-size: 16pt;
		line-height: 20pt;
	}
	.cont .buttons img {
		width: 40%;
	}

}



/* >= 700 <= 1820 */
@media only screen and (min-width : 400px) and (max-width : 1400px) {
	html,body{	  
	    background: #251a36 url(../images/fhd.jpg) no-repeat top left;
	}
	.cont {
		top: 2%;
		width: 85%;
		min-width: 450px;
	}
	.cont .logo {
		margin: 0 auto 3% auto;		
	}
	.cont .text p {		
		font-size: 16pt;		
	}
	.cont .text p.am {
		font-size: 16pt;
		line-height: 24pt;
	}
	.cont .langs {
		margin: 2% auto;
	}
	.cont p.coming {		
		font-size: 20pt;		
	}
	.cont p.coming.am {
		font-size: 18pt;
	}
}

@media only screen and (min-width : 1401px) and (max-width : 1820px) {
	html,body{	  
	    background: #251a36 url(../images/fhd.jpg) no-repeat top left;
	}
	.cont {
		top: 2%;
		width: 65%;
		min-width: 450px;
	}
	.cont .logo {
		margin: 0 auto 5% auto;		
	}
	.cont .text p {		
		font-size: 16pt;		
	}
	.cont .text p.am {
		font-size: 16pt;
		line-height: 24pt;
	}
	.cont .langs {
		margin: 4% auto;
	}
	.cont p.coming {		
		font-size: 20pt;		
	}
	.cont p.coming.am {
		font-size: 18pt;
	}
}

/* full hd */
@media only screen and (min-width : 1824px) and (max-width : 1920px) {
	html,body{	  
	    background: #251a36 url(../images/fhd.jpg) no-repeat top left;
	}
	.cont {
		width: 60%;
	}	
}







/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* STYLES GO HERE */
}
 
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	
}
 
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	
}


/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
/* STYLES GO HERE */
}











#followingBallsG{
position:relative;
width:256px;
height:20px;
}

.followingBallsG{
background-color:#F7B831;
position:absolute;
top:0;
left:0;
width:20px;
height:20px;
-moz-border-radius:10px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:10px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:10px;
animation-name:bounce_followingBallsG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.13s;
-webkit-animation-delay:0.13s;
-ms-animation-delay:0.13s;
-o-animation-delay:0.13s;
animation-delay:0.13s;
}

#followingBallsG_3{
-moz-animation-delay:0.26s;
-webkit-animation-delay:0.26s;
-ms-animation-delay:0.26s;
-o-animation-delay:0.26s;
animation-delay:0.26s;
}

#followingBallsG_4{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#F7B831;
}

50%{
left:236px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#F7B831;
}

}